  @font-face {
    font-family: dastnevis;
    src: url(font/dastnevis.ttf);
  }

  body {
    background: black;
    font-family: 'helvetica neue';
    font-weight: 200;
    font-size: 20px;
  }
.scrol{
  overflow: scroll;
}
  .words {
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    padding: 1rem 2rem 1rem 5rem;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
  }
  .descriptions {
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
    padding: 1rem 2rem 1rem 5rem;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
  }
  
  p{
    
    font-size: 20px;
    font-family: 'dastnevis';
    

    }
  .words:before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
  }
  

  /*button style */
  button{
    margin-bottom: 20px;
  }

  h1 , h4{
    
    font-size: 20px;
    

  }
  .title{
    font-family: Arial, Helvetica, sans-serif;
  }

  select{
    width: 200xp;
    margin-left: 10px;
    /* margin-bottom: 40px; */
    max-height: 20px ;
  }
 select{
   background-color: rgb(197, 197, 197);
   border: none;
   margin-right: 10px;
 }
  @media only screen and (max-width: 1000px) {
    body {
      background: black;
      font-family: 'helvetica neue';
      font-weight: 200;
      font-size: 50px;
    }
    p{
      font-size: 50px;
    }
     h1 , h4{
    
      font-size: 30px;
      
  
    }
    
    select{
      margin-left: 10px;
      /* margin-bottom: 40px; */
      font-size: 40px;
      max-height: 90px ;
    }
   
  }
  textarea {
    width:100%;
    box-sizing:border-box;
    direction:rtl;
    display:block;
    max-width:100%;
    line-height:1.5;
    padding:15px 15px 30px;
    border-radius:3px;
    border:1px solid #978c41;
    font:13px Tahoma, cursive;
    transition:box-shadow 0.5s ease;
    box-shadow:0 4px 6px rgba(0,0,0,0.1);
    font-smoothing:subpixel-antialiased;
    background:linear-gradient(#F9EFAF, #F7E98D);
    background:-o-linear-gradient(#F9EFAF, #F7E98D);
    background:-ms-linear-gradient(#F9EFAF, #F7E98D);
    background:-moz-linear-gradient(#F9EFAF, #F7E98D);
    background:-webkit-linear-gradient(#F9EFAF, #F7E98D);
  }